#new-animal-form{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 30% 70% ;
    background: lightsalmon;
    border-radius: 25px;

}

#new-animal-header{
    color: rgb(43, 177, 255);
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 5.3vh;
    background: white;
    grid-column-start: 2;
    grid-column-end: 5;
}

#new-animal-form-form{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 6px;
    border-radius: 15px;
    height: 95%;
    text-align: center;
    background: white;
    align-self: center;
    grid-template-columns: 10% 26.66% 26.66% 26.66% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    display: grid;
}

.new-animal-form-input{
    margin: 7.5px;
    padding: 10px;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: rgba(43, 177, 255);
}

.new-animal-form-input::placeholder{
    color:white;
}

#new-animal-submit{
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 6px;
    width: 70%;
    height: 40%;
    background: rgba(43, 177, 255);
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 5;

}

#animal-name{
    grid-row-start: 4;
    grid-column-start: 2;
}

#animal-type{
    grid-row-start: 4;
    grid-column-start: 3;
}

#animal-age{
    grid-row-start: 5;
    grid-column-start: 3;
    width: 50%
}

#animal-color{
    grid-row-start: 5;
    grid-column-start: 2;
}

#animal-video{
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

#animal-description{
    grid-row-start: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end:9;
}

#radio-buttons{
    color: black;
    font-size: 1em;
}

#animal-image{
    grid-row-start: 6;
    grid-column-start: 4;
}

#sex-and-age{
    grid-row-start: 5;
    grid-column-start: 3;
    display: flex;
}

#image-preview{
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    background: lightsalmon;
    border-radius: 15px;
}

#male, #female{
    margin: 0px;
}

@media screen and (max-width: 690px) {
    #new-animal-form{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
        background: white;
    }
}