
#root-div1{
  
  color: white;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1% 70% 29%;
  height: -webkit-fill-available;
}

#navbar {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50%;
}



#nav-right{
  align-self: center
}

.auth-links{
  
}

.auth-links a{
  font-family: 'Capriola', sans-serif;
    font-size: 3vw;
    margin: 5px 20px;
    color: rgb(43, 177, 255)  ;
    text-decoration: none;
}

.auth-links a:hover{
  text-decoration: underline;
}

.auth-links button{
  font-family: 'Capriola', sans-serif;
    font-size: 34px;
    margin: 5px 20px;
    color: rgb(43, 177, 255)   ;
    text-decoration: none;
    background:none;
    border:none;
}

@media screen and (max-width: 690px) {
  #root-div1 {
    
  }

  .auth-links{
    display: none
  }
}

@media screen and (max-width: 340px) {
  #logo{
    font-size: 34px;
  }
}