#application-form{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 30% 70%;
    background: lightsalmon;
    border-radius: 25px;
    width: 95%;
    height: 95%;
}

#application-header{
    color: rgb(43, 177, 255);
    padding: 6px;
    grid-column-start: 2;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 4vw;
}

#application-form-form{
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 6px;
    border-radius: 5px;
    height: calc(100% + 1%);
    text-align: center;
}

.application-form-input{
    margin: 7.5px;
    padding: 10px;
    color: black;
    font-size: 16px;
    border:none;
    border-radius: 6px;
    width: 80%;
    background: rgba(43, 177, 255);
}

.application-form-input::placeholder{
    color:white;
}

#application-submit{
    margin: 7.5px;
    padding: 10px;
    color: white;
    font-size: 24px;
    border:none;
    border-radius: 6px;
    width: 60%;
    background: rgba(43, 177, 255);
}