.auth-modal{
    position: fixed;
    background: rgba(43, 177, 255, 0.2);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    transition: all .25s ease-in-out;
    justify-content: center;
    top: 0;
    z-index: 4;
    display: grid;
    grid: inherit;
}

.auth-div{
    background: white;
    display: flex;
    flex-direction: column;
    width: 100%;
   
    border-radius: 7px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
}

.auth-form{
    display: flex;
    flex-direction: column;
}



.auth-form h1 {
    font-size: 85px;
    overflow-wrap: break-word;
    color: rgb(43, 177, 255);
    margin-top: 0;
    text-align: center;
    font-family: 'Capriola', sans-serif;
    text-decoration: underline;
    line-height: 69px;
    padding: 15px;
    margin-bottom: 0px;
}

.auth-form input {
    margin-top: 7.5px;
    padding: 10px;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    width: 25%;
    align-self: center;
}

.auth-form input:focus{
    outline: 0;
}

.auth-form select{
    width: 93%;
    align-self: center;
}

.modal-button {
    border: none;
    padding: 1%;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    background: lightsalmon;
    font-family: 'Nunito', sans-serif;
    width: 20%;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}

.modal-button{
    outline: 0ch;
}

.modal-exit{
    text-decoration: none;
    color: rgb(43, 177, 255);
    font-size: 4em;
    text-align: right;
    margin-right: 3%;
    font-family: 'Capriola', sans-serif;

}

.modal-exit:hover{
    color: lightsalmon;
    cursor: pointer;
}

@media screen and (max-width: 690px) {
    .auth-div{
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        margin: 0;
        top: 0;
        border-radius: 0;
        justify-content: normal;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
    
    }

    .auth-form h1{
        padding: 20px 0;
    }

    .modal-exit{
        margin: 5%;
        font-size: 12vw
    }
  }